<table border="1">
<tr>
<td>UserName</td>
<td>Assigned Groups</td>
</tr>
<% for user in @users %>
  <tr>
  <td>
	<%= user.username %>
  </td>
	<% for role in user.roles %>
		<td>
		  <%= role.name %>
		</td>
	<% end %>
  </tr>
<% end %>
</table> 